body {
    width: 1024px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

header {
    border: black;
    border-radius: 10%;
    border-style: solid;
    border-width: 5px;
    background-color: rgb(211, 247, 214);
}

header div {
    text-align: center;
}
